@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap");

.nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 8vh;
  background-color: transparent;
  backdrop-filter: blur(10px);
  font-family: "Work Sans", sans-serif;
  position: fixed;
  width: 100vw;
  padding: 0 20px;
}

.nav h1 {
  color: #fff;
  font-size: 18px;
  letter-spacing: 3px;
  font-weight: 300;
}

.nav__menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
  list-style: none;
  margin-right: 35px;
}

.nav__menu a {
  text-decoration: none;
  color: #bbb;
  font-size: 18px;
  letter-spacing: 3px;
  font-weight: 300;
}

.nav__menu a:hover {
  color: #fff;
}

.nav__toggler div {
  width: 2rem;
  height: 1px;
  margin: 8px;
  background: #fff;
}

.nav__toggler {
  cursor: pointer;
  display: none;
}

@media (width < 900px) {
  .nav__toggler {
    display: block;
  }

  .nav__menu {
    position: fixed;
    top: 5vh;
    right: 0;
    width: 40%;
    height: 96vh;
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s ease-in;
  }


  .nav h1 {
    font-size: 18px;
    letter-spacing: 3px;
    font-weight: 300;
  }

  .nav__item {
    margin-bottom: 10px;
    padding: 0;
  }

}

/* nav active */

.nav__active {
  transform: translateX(0);
  background-color: transparent;
  backdrop-filter: blur(10px);
  padding: 0;
  margin: 0;
}

/* animacao botao hamburguer */
.toggle .line1 {
  opacity: 0;
}
.toggle .line2 {
  transform: rotate(-45deg) translate(-1.5px, 5px);
}
.toggle .line3 {
  transform: rotate(45deg) translate(-1px, -5px);
}
