@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
/* font-family: 'Open Sans', sans-serif; */

.navlist {
  display: flex;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #242424;
  font-family: "Open Sans", sans-serif;
  height: 6em;
}

.navbar h1 {
  font-size: 1.3em;
  color: #fff;
  padding: 0 15px;
}

.navlist ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navlist li {
  padding: 0 15px;
  list-style: none;
  letter-spacing: 3px;
}

.navlist a {
  color: #fff;
  text-decoration: none;
  font-size: 1.3em;
}

.navlist a:hover {
  color: #ccc;
}

/* mobal menu */
.mobal_menu {
  display: none;
}

.open_menu {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 2.5em;
  display: none;
}

.close_menu {
  color: #fff;
  font-size: 2.5em;
  display: none;
}

@media (width < 764px) {
  .navlist {
    display: none;
  }

  .navlist_mobal  ul {
    list-style: none;
  }

  .navlist_mobal a {
    color: #fff;
    text-decoration: none;
  }

  .open_menu {
    display: block;
    margin-right: 1em;
  }
}