@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* font-family: 'Open Sans', sans-serif; */
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #242424;
    font-family: 'Open Sans', sans-serif;
  }

  .navbar h1 {
    font-size: 1.3em ;
    color: #fff;
    padding: 0 15px;
  }

  .navbar ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }


  .navbar li {
    padding: 0 15px;
    list-style: none;
  }

  .navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 1.3em;
  }

  .navbar a:hover {
    color: #ccc;
  }